footer.hero-foot(style='padding: 20px 10px 20px 10px;')
	.container
		.level
			.level-left
				a(href='https://lto.network') LTO Network
				| &nbsp | &nbsp
				a(href='https://explorer.lto.network') LTO Explorer
				| &nbsp | &nbsp
				a(href='https://wallet.lto.network') LTO Wallet

			.level-right
				|
				a.tooltip.is-tooltip-bottom(data-tooltip='Twitter' href='https://twitter.com/ltoservice/')
					span.icon.is-large
						i.icon-social-twitter.is-size-5
				| &nbsp | &nbsp
				a.tooltip.is-tooltip-bottom(data-tooltip='Telegram' href='https://t.me/joinchat/IYLGqBXLwhAMOfYrE_abOA')
					span.icon.is-large
						i.icon-paper-plane.is-size-5
						
				| &nbsp | &nbsp
				span.tooltip.is-tooltip-bottom(data-tooltip='Lease Address')
					| 3JexCgRXGFUiuNoJTkkWucSumteRWdb8kKU
				| &nbsp | &nbsp
				| LTO Services &copy; 2019
				

script(src='https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.2.1/js/tabulator_core.min.js', integrity='sha256-SfJNUJB/exqCRy/PFrNDbccZSNxyBWNVz3ugWBdr58A=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.2.1/js/modules/responsive_layout.min.js', integrity='sha256-KZopKRSsRuuqGzBDD77p9YocJq/nUv+dtk2/lyFgwZU=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.2.1/js/modules/resize_table.min.js', integrity='sha256-OMbEndfrdt5YVyoSUwXg6OtPUCqZziH5i4viP2FEuDE=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.2.1/js/modules/sort.min.js', integrity='sha256-DPFTKdeFkX4JkN0o6yZZkN+kQLiQJORkbKNfVnl0VMc=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.2.1/js/modules/page.min.js', integrity='sha256-ALbVgOTPGFbGd2HUzxyHZFtKq1sO7ENdn/fSqKKFOQg=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.2.1/js/modules/format.min.js', integrity='sha256-pB27vZ82bUkVKPnBDU56MfYO6y5PZcBvES9QACl7dQE=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js', integrity='sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js', integrity='sha256-oSgtFCCmHWRPQ/JmR4OoZ3Xke1Pw4v50uh6pLcu+fIc=', crossorigin='anonymous')
script(src='/js/app.js')