head
	title #{title} | LTO Services
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css', integrity='sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.7.2/pulse/bulmaswatch.min.css', integrity='sha256-mDr+cZYPIbit958QnzxzYitYBW8fUSJL5T2yS3LiSuQ=', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma-tooltip@2.0.2/dist/css/bulma-tooltip.min.css', integrity='sha256-4sEalG00AgYSQIYA/likT3rU/pElCgDfnyHz/mf+j30=', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css', integrity='sha256-7O1DfUu4pybYI7uAATw34eDrgQaWGOfMV/8erfDQz/Q=', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.2.1/css/bulma/tabulator_bulma.min.css', integrity='sha256-ZgyeKnX+VcSdvkyB22hYKlC23wyq3Q/X4G8pgldmGRk=', crossorigin='anonymous')
	link(rel='stylesheet' href='/css/app.css')



	