nav.navbar.is-primary.is-fixed-top.is-boxed(role='navigation', aria-label='navigation')
    .container
        .navbar-brand
            a.navbar-item.is-size-4.has-text-weight-light.has-background-white.has-text-dark(href='/')
                div(style='background-image:url("/img/logo.png");background-repeat:no-repeat;background-position:left;padding: 0 0 0 48px;')
                    | LTO Services
            span.navbar-burger.burger(data-target='navbarMenu')
                span
                span
                span
        #navbarMenu.navbar-menu
            .navbar-start
                a.navbar-item(href='/leases' class=title=='Leases'?'is-active':undefined)
                    span.icon.is-large
                        i.icon-note.is-size-5
                    span.is-size-5 Leases
                    
                a.navbar-item(href='/blocks' class=title=='Blocks'?'is-active':undefined)
                    span.icon.is-large
                        i.icon-layers.is-size-5
                    span.is-size-5 Blocks

                a.navbar-item(href='/payments' class=title=='Payments'?'is-active':undefined)
                    span.icon.is-large
                        i.icon-wallet.is-size-5
                    span.is-size-5 Payments

                a.navbar-item(href='/faq' class=title=='FAQ'?'is-active':undefined)
                    span.icon.is-large
                        i.icon-magic-wand.is-size-5
                    span.is-size-5 FAQ

                .navbar-item.has-dropdown.is-hoverable
                    .navbar-link
                        span.icon.is-large
                            i.icon-wrench.is-size-5
                        span.is-size-5 Tools
                    #moreDropdown.navbar-dropdown
                        a.navbar-item(href='/network')
                            span
                                span.icon.has-text-primary
                                    i.icon-organization
                                strong.is-size-6 Network Overview
                                br
                                | Live visual data on the LTO Network.

                        hr.navbar-divider
                        a.navbar-item(href='/get-started')
                            span
                                span.icon.has-text-primary
                                    i.icon-book-open
                                strong.is-size-6 Getting Started
                                br
                                | A simple guide to help you setup your lease.

            .navbar-end
                .navbar-item
                    .tag.is-medium.is-white.tooltip.is-tooltip-bottom(data-tooltip='Total Unpaid')#totalAmountUnpaid
                .navbar-item
                    .tag.is-medium.is-black.tooltip.is-tooltip-bottom(data-tooltip='Total Paid')#totalAmountPaid         
                .navbar-item
                    .tag.is-medium.is-info.tooltip.is-tooltip-bottom(data-tooltip='Pooled Amount')#totalAmount
                .navbar-item
                    .tag.is-medium.is-light.tooltip.is-tooltip-bottom(data-tooltip='Active Leases')#totalLease
                .navbar-item
                    .tag.is-medium.is-dark.tooltip.is-tooltip-bottom(data-tooltip='Found Blocks')#totalBlocks
