nav.navbar.is-primary.is-fixed-top.is-boxed(role='navigation', aria-label='navigation')
    .container
        .navbar-brand
            a.navbar-item.is-size-4.has-text-weight-light.has-background-white.has-text-dark(href='/')
                div(style='background-image:url("/img/logo.png");background-repeat:no-repeat;background-position:left;padding: 0 0 0 48px;')
                    | LTO Services
            span.navbar-burger.burger(data-target='navbarMenu')
                span
                span
                span
        #navbarMenu.navbar-menu
            .navbar-start
                a.navbar-item(href='/leases' class=title=='Leases'?'is-active':undefined)
                    span.icon.is-large
                        i.icon-note.is-size-5
                    span.is-size-5 Leases
                    
                a.navbar-item(href='/blocks' class=title=='Blocks'?'is-active':undefined)
                    span.icon.is-large
                        i.icon-layers.is-size-5
                    span.is-size-5 Blocks

                a.navbar-item(href='/payments' class=title=='Payments'?'is-active':undefined)
                    span.icon.is-large
                        i.icon-wallet.is-size-5
                    span.is-size-5 Payments

                a.navbar-item(href='/faq' class=title=='FAQ'?'is-active':undefined)
                    span.icon.is-large
                        i.icon-question.is-size-5
                    span.is-size-5 FAQ

                .navbar-item.has-dropdown.is-hoverable
                    .navbar-link
                        span.icon.is-large
                            i.icon-wrench.is-size-5
                        span.is-size-5 Tools
                    #moreDropdown.navbar-dropdown
                        a.navbar-item(href='/get-started')
                            span
                                span.icon.has-text-primary
                                    i.icon-book-open
                                strong.is-size-6 Getting Started <span class='tag is-info is-small'>easy</span>
                                br
                                | A simple guide to help you setup your lease.
                        hr.navbar-divider
                        a.navbar-item(href='/network')
                            span
                                span.icon.has-text-primary
                                    i.icon-organization
                                strong.is-size-6 Network Tracker<span class='tag is-success is-small'>updated</span>
                                br
                                | Live visual data on the LTO Network.
                        
                        hr.navbar-divider
                        a.navbar-item(href='/explorer')
                            span
                                span.icon.has-text-primary
                                    i.icon-magnifier
                                strong.is-size-6 Network Explorer <span class='tag is-warning is-small'>beta</span>
                                br
                                | Look up data on the LTO Network by transaction ID, address or block index.

            .navbar-end
                .navbar-item
                    .tag.is-medium.is-dark.tooltip.is-tooltip-bottom(data-tooltip='Total Unpaid' style='background: rgba(40, 171, 191, 1);')#totalAmountUnpaid
                .navbar-item
                    .tag.is-medium.is-dark.tooltip.is-tooltip-bottom(data-tooltip='Total Paid' style='background: rgba(1, 20, 132, 1);')#totalAmountPaid         
                .navbar-item
                    .tag.is-medium.is-white.tooltip.is-tooltip-bottom(data-tooltip='Pooled Amount' style='background: rgba(142, 68, 173, 1;')#totalAmount
                .navbar-item
                    .tag.is-medium.is-dark.tooltip.is-tooltip-bottom(data-tooltip='Active Leases' style='background: rgba(116, 20, 12, 1);')#totalLease
                .navbar-item
                    .tag.is-medium.is-dark.tooltip.is-tooltip-bottom(data-tooltip='Found Blocks' style='background: rgba(60, 20, 98, 1);')#totalBlocks

.notification.is-dark.has-text-centered(style='margin-top:55px;') Follow us on Twitter for automated posts on pool events such as block forging and payouts <a href='https://twitter.com/ltoservice/'>@ltoservice</a>.
