
html
	include ../includes/header.pug

	body
	
		include ../includes/nav.pug

		.hero-body
			section.notification.is-light(style='padding: 40px;')
				.container
					.content
						h1.title.is-size-2 Latest Blocks <span class='tag is-dark is-large' id='blockCount'>0</a>
						.columns
						.columns
							.column
								#blockTable
							.column
								div(style='width: 100%;height:auto;')
									canvas#blockChart
 
						h1.title.is-size-2  Mempool <span class='tag is-dark is-large' id='mempoolCount'>0</a>
						.columns
							.column
								#txTable

							.column
								.level(style='margin: 0 20px 0 20px;')
									.level-left
										.tags
											#txStat.tag.is-primary.is-medium.tooltip.is-tooltip-bottom(data-tooltip='Standard' style='background: rgba(40, 171, 191, 0.5);')
											#massStat.tag.is-primary.is-medium.tooltip.is-tooltip-bottom(data-tooltip='Mass' style='background: rgba(1, 20, 132, 0.5);')
											#anchorStat.tag.is-primary.is-medium.tooltip.is-tooltip-bottom(data-tooltip='Anchor' style='background: rgba(142, 68, 173, 0.5);')
											#startLeaseStat.tag.is-primary.is-medium.tooltip.is-tooltip-bottom(data-tooltip='Start Lease' style='background: rgba(116, 20, 12, 0.5);')
											#cancelLeaseStat.tag.is-primary.is-medium.tooltip.is-tooltip-bottom(data-tooltip='Cancel Lease' style='background: rgba(216, 20, 132, 0.5);')
			
									.level-right
										.field.tooltip.is-tooltip-bottom(data-tooltip='Linear' style='margin: 5px 0 0 0;')#txChartScaleTooltip
											.control
												input#txChartScaleFilter.switch.is-outlined.is-dark.is-medium(onchange='chartTxFilter()' type='checkbox', name='txChartScaleFilter', checked='checked')
												label(for='txChartScaleFilter')

										.field
											.control
												.select.is-dark.is-small
													select(onchange='chartTxFilter()')#txChartDateFilter
														option(value='day') Day
														option(value='week' selected='selected') Week
														option(value='month') Month
														option(value='year') Year
												

								div(style='width: 100%;height:auto;')
									canvas#txChart

						h1.title.is-size-2 Block Forgers <span class='tag is-dark is-large' id='nodeCount'>0</a>

						.columns
							.column
								#nodeTable
							.column
								.level(style='margin: 0 20px 0 20px;')
									.level-left

									.level-right
										.field
											.control
												.select.is-dark.is-small
													select(onchange='chartProducersFilter()')#producersChartDateFilter
														option(value='day') Day
														option(value='week' selected='selected') Week
														option(value='month') Month
														option(value='year') Year

								div(style='width: 100%;height:auto;margin-top:6vh;')
									canvas#nodeChart
								
						.has-text-left <i><b>Data:</b> based on live incoming data from the LTO-Chain-Cache API (LCCA) designed by LTO Services.</i>

		include ../includes/footer.pug
		script.
			var cacheip = '#{cacheip}'
		script(src='/js/network.js')