
html
	include ../includes/header.pug

	body
	
		include ../includes/nav.pug

		.hero-body
			section.notification.is-light(style='padding: 40px;')
				.container
					.content
						h1.title.is-size-2 Latest Blocks
						.columns
							.column
								#blockTable
							.column
								div(style='width: 100%;height:auto;')
									canvas#blockChart
 
						h1.title.is-size-2  Mempool <span class='tag is-dark is-large' id='mempoolCount'>0</a>
						.columns
							.column
								#txTable


						h1.title.is-size-2 Block Producers <span class='tag is-dark is-large' id='nodeCount'>0</a>

						.columns
							.column
								#nodeTable
							.column.is-marginless.is-paddingless(style='display: flex; align-items: center;')
								div(style='width: 100%;height:auto;')
									canvas#nodeChart
								
						#test.has-text-right <b>Data:</b> list of generators from the past 24 hours updated every 5 seconds.

		include ../includes/footer.pug
		script.
			var cacheip = '#{cacheip}'
		script(src='/js/network.js')