
html
	include ../includes/header.pug

	body
		include ../includes/nav.pug

		.hero-body
			section.notification.is-light(style='padding: 40px;')
				.container
					.content
						h1.title.is-size-2 Payments
						div#paymentHistory
						
		include ../includes/footer.pug
		script(src='/js/payments.js')
